@model IdentityServer.Quickstart.User.UserViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<dl>
    <dt>@Html.DisplayNameFor(m => m.UserName)</dt>
    <dd>@Html.DisplayFor(m => m.UserName)</dd>

    <dt>@Html.DisplayNameFor(m => m.Email)</dt>
    <dd>@Html.DisplayFor(m => m.Email)</dd>

    <dt>@Html.DisplayNameFor(m => m.PhoneNumber)</dt>
    <dd>@Html.DisplayFor(m => m.PhoneNumber)</dd>

    <dt>@Html.DisplayNameFor(m => m.RoleName)</dt>
    <dd>@Html.DisplayFor(m => m.RoleName)</dd>
</dl>

<form asp-action="Edit" asp-controller="User" method="get">
    <input asp-for="Id" hidden />
    <div class="row">
        <input class="btn btn-primary" type="submit" value="Edit"/>
        <a class="btn btn-info ml-1" asp-action="Index" asp-controller="User">Back to List</a>
    </div>
</form>