@model List<IdentityServer.Quickstart.User.UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row mt-4 mb-3">
    <h2>Users</h2>
    <form class="ml-auto" asp-action="Create" asp-controller="User" method="get">
        <input type="submit" class="btn btn-success" value="New User" />
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m[0].UserName)</th>
            <th>@Html.DisplayNameFor(m => m[0].RoleName)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.RoleName</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="User" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="dropdown-item" asp-controller="User" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="dropdown-item" asp-controller="User" asp-action="CreateNewPassword" asp-route-id="@item.Id">New Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
